.component {
  --cluster-justify: center;
  --cluster-gap: var(--size-1);
  list-style: none;
  padding-inline-start: unset;
}

.component a {
  display: inline-block;
  text-align: center;
  padding: var(--size-1) var(--size-2);
  min-inline-size: 4ch;
  border: 1px solid transparent;
  border-radius: var(--radius-1);
}

.component a:hover {
  cursor: pointer;
  color: var(--link-hover);
}

.component :global(.selected) a {
  color: var(--text-1);
  background-color: var(--surface-2);
  border-color: var(--surface-3);
}
