.actions {
  --stack-space: var(--size-8);
  justify-content: space-between;
}

.profile {
  padding: var(--size-3);
  background-color: var(--surface-2);
  border-radius: var(--radius-2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.details {
  flex-grow: 1;
  margin-inline-start: 1vw;
}

.update {
  display: flex;
  flex-direction: column;
 
  
}



.userInfo {
  display: flex;
  flex-wrap: nowrap;
  
}
@media screen and (max-width: 480px) {
  .details {
    font-size: .85rem;
    margin-inline-start: 4vw;
  }
  
  .update {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    
    justify-content: space-between ;
  }

  /* .sub {
    padding-block: 20px;
  } */
 
}