.cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.cards li {
  display: grid;
}

.profile {
  text-decoration: none;
  color: var(--text-1);
}

.profile:hover {
  border-color: var(--brand-1-hover);
}
