.overlay {
  background-color: hsla(0 0% 0% / 0.2);
  position: fixed;
  inset: 0;
  animation: overlay 200ms var(--ease-out-3);
}

.content {
  overflow: hidden;
  background-color: var(--surface-1);
  border-radius: 6px;
  box-shadow: var(--shadow-4);
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  transform: translate(-50%, -50%);
  animation: content 200ms var(--ease-out-3);
}

.content {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.content > * {
  --border: var(--border-size-1) solid var(--surface-4);
  padding: var(--size-3);
}

.content > :first-child {
  border-block-end: var(--border);
}

.content > :last-child {
  border-block-start: var(--border);
}

.content > :only-child {
  border: unset;
}

@keyframes overlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes content {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
