.hero {
  text-align: center;
}

.hero h1 {
  font-size: 4rem;
  letter-spacing: .8rem;
}

.about {
  display: flex;
  flex-direction: column;
  padding-inline: var(--size-5);
  font-weight: 600;
  font-size: 1.25rem;
  width: 50ch;
 
  align-items: center;
}

.subscription {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.cost {
  padding: var(--size-5);
  margin-block: var(--size-3);
  font-weight: 600;
  font-size: 1.3rem;
  border-radius: var(--radius-conditional-2);
  border: var(--border-size-1) solid var(--surface-3);
  background-color: var(--surface-4);
  box-shadow: var(--shadow-3);
  text-align: center;
}

.plans {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: var(--grid-gap, var(--size-3));
  align-items: stretch;
  
}

.free, .pro {
  /* width: 50%; */
  text-align: left;
  flex: 1;
}

.subscribe a{
  color: white;
  text-decoration: none;
}

.perks ul li{
  font-size: 18;
  font-weight: 600;
}
@media screen and (max-width: 480px) {
  .plans {
    width: 90%;

  }

  .about {
    width: 100%;
  }
}