.cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.profile {
  display: flex;
  
  gap: 25px;

}

.info {
  display: flex;
  flex-direction: column;
  
  }

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .profile img {
    height: 100px;
    width: 100px;
  }

  .info h1 {
    font-size: 28px;
  }
}