.wrapper {
  --max-inline-size: 60ch;
  text-align: center;
  margin-block-end: var(--size-8);
}

.avatar {
  margin-inline: auto;
  border-radius: var(--radius-1);
}

.cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.release {
  text-decoration: none;
  color: var(--text-1);
}

.release:hover {
  border-color: var(--brand-1-hover);
}

.info {
  --stack-space: var(--size-2);
}

.blurb {
  margin-block-start: var(--size-6);
  font-size: 0.8em;
}

.location {
  font-size: var(--font-size-0);
  font-family: var(--font-main);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  justify-content: center;
}

.filter {
  display: flex;
  align-items: center;
}

.filter select {
  margin-inline-start: 1em;
}

.pagination {
  display: flex;
  justify-content: center;
}

.sort {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
  }
  .profile img {
    height: 100px;
    width: 100px;
  }
}
