.component {
  --border: var(--border-size-1) solid var(--surface-3);
  --padding: var(--size-3);
  position: relative;
  height: 100%;
  border-radius: var(--radius-conditional-2);
  border: var(--border);
}

.component:not(.inactive) {
  background-color: var(--surface-2);
  box-shadow: var(--shadow-2);
}

.content {
  flex: 1 1 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  align-items: center;
  gap: var(--padding);
  padding: var(--padding);
  /* text-align: center; */
}

.title {
  font-size: var(--step-2);
  font-weight: var(--font-weight-6);
  font-family: var(--font-main);
  text-transform: capitalize;
}

.artist {
  font-size: var(--step-3);
  font-weight: var(--font-weight-4);
  font-family: var(--font-main);
  text-transform: capitalize;
}

.title a {
  color: inherit;
  text-decoration: none;
}

.image {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-inline-size: 100px;
  aspect-ratio: 1;
  border-radius: var(--radius-1);
}

.image:not([src]) {
  display: flex;
  background-color: var(--surface-3);
}

.image:not([src]) svg {
  --size: 3em;
  margin: auto;
  width: var(--size);
  height: var(--size);
  fill: var(--surface-4);
}

.details {
  flex: 1 1 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  line-height: 1.2;
}

.details > * {
  grid-column: 1;
}

.label {
  margin-top: 0.2em;
}

.label,
.type {
  font-size: var(--font-size--1);
}

.type {
  display: flex;
  align-items: baseline;
  gap: 0.2em;
}

.type svg {
  --size: 1.25em;
  width: var(--size);
  height: var(--size);
  position: relative;
  top: 0.25em;
  flex-shrink: 0;
}

.codes {
  --offset: calc(var(--padding) * -1 + 3px);
  position: relative;
  top: var(--offset);
  right: var(--offset);
  align-self: start;
  grid-row: 1;
  grid-column: 2;
  display: flex;
  align-items: center;
  margin-inline-start: auto;
  gap: var(--size-1);
  padding: 2px var(--size-2);
  font-weight: var(--font-weight-6);
  color: var(--text-success);
  background-color: var(--surface-success-1);
  border-radius: var(--radius-1);
}

.codes small {
  font-weight: var(--font-weight-4);
}

.codes.empty {
  color: var(--text-warning);
  background-color: var(--surface-warning-1);
}

.codes svg {
  --size: 1em;
  width: var(--size);
  height: var(--size);
}

.actions {
  --cluster-gap: var(--size-2);
  padding: var(--cluster-gap);
  border-block-start: var(--border);
}

.activeLabel {
  margin-inline-start: auto;
}

.activeToggle {
  margin-inline-start: auto;
}

.activeToggle span {
  align-self: center;
  font-size: var(--font-size--1);
  font-weight: 500;
  letter-spacing: -0.0125em;
}

.component.inactive {
  --border: var(--border-size-1) dashed var(--surface-3);

  .content {
    background-image: repeating-linear-gradient(
      -45deg,
      var(--surface-2) 10px,
      var(--surface-2) 14px,
      transparent 14px,
      transparent 18px
    );
    opacity: 0.75;
  }

  .image {
    filter: grayscale(1);
  }

  .codes {
    color: var(--gray-6);
    background-color: transparent;
  }
}

.embed {
  margin-block-start: 5px;
  border-top: 1px solid rgb(94, 94, 94);
}
