.logo {
  position: relative;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--size-1);
  padding-block: calc(var(--page-padding) / 2);
  place-items: center;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.1em;
  font-family: var(--font-heading);
  font-weight: 550;
  font-size: var(--logo-size, 1em);
  color: var(--text-1);
  user-select: none;
}
