.empty {
  grid-column: 1 / -1;
  padding: var(--size-6);
}

.actionCard {
  display: grid;
  padding: unset;
  transition: border-color 200ms ease-out;
}

.actionCardButton {
  --button-icon-size: 2em;
  gap: var(--size-1);
  flex-direction: column;
  transition: color 200ms ease-out;
}

.actionCard:has(button:hover) {
  border-color: var(--link-hover);
}

.filter {
  display: flex;
  align-items: center;
}

.filter select {
  margin-inline-start: 1em;
}

.pagination {
  --stack-space: var(--size-8);
  display: flex;
  justify-content: center;
}
