.wrapper {
  display: flex;
  justify-content: center;
}

.release {
  display: flex;
  gap: 25px;
}

.info {
display: flex;
flex-direction: column;

}

.title {
  font-size: clamp(.75rem, 2vw, var(--size-4));
}

.artist {
  font-size: clamp(.75rem, 2vw, var(--size-3));
}
.label {
  font-size: clamp(.75rem, 2vw, var(--size-3));
}
.codes {
  margin-block: 40px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  /* .release {
    display: flex;
    flex-direction: column;
    margin-block-start: 5vh;
  } */
  .release img {
    height: 100px;
    width: 100px;
  }
 
}