.wrapper {
  --max-inline-size: 65ch;
  display: grid;
  justify-items: center;
  text-align: center;
}

.artwork {
  display: inline-block;
  border-radius: var(--radius-1);
}

.info {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: var(--font-size-3);
  margin-block-end: var(--size-2);
}

.artist {
  font-size: var(--font-size-1);
}

.label {
  font-size: var(--font-size-1);
}

.codes {
  margin-block: 40px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  /* .release {
    display: flex;
    flex-direction: column;
    margin-block-start: 5vh;
  } */
  .release img {
    height: 100px;
    width: 100px;
  }
}
