.component {
  --border: var(--border-size-1) solid var(--surface-3);
  --padding: var(--size-2);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  border-radius: var(--radius-conditional-2);
  border: var(--border);
  box-shadow: var(--shadow-2);
}

.content {
  flex: 1 1 100%;
  display: flex;
  align-items: flex-start;
  gap: var(--padding);
  padding: var(--padding);
}


.title {
  font-size: var(--step-2);
}

.title a {
  color: inherit;
  text-decoration: none;
}

.artist {
  font-size: var(--step-1);
}

.image {
  flex-shrink: 0;
  width: 100%;
  max-inline-size: 100px;
  height: auto;
  aspect-ratio: 1;
  border-radius: var(--radius-1);
}

.image:not([src]) {
  display: flex;
  background-color: var(--surface-3);
}

.image:not([src]) svg {
  --size: 3em;
  margin: auto;
  width: var(--size);
  height: var(--size);
  fill: var(--surface-4);
}

.details {
  flex: 1 1 100%;
  display: grid;
  grid-template-columns: 1fr auto;
}

.details > * {
  grid-column: 1;
}

.title {
  line-height: 1.2;
}

.type {
  display: flex;
  align-items: center;
  margin-block-start: var(--size-1);
  gap: 0.2em;
  font-size: var(--font-size-0);
}

.type svg {
  --size: 1.5em;
  width: var(--size);
  height: var(--size);
}

.codes {
  --offset: calc(var(--padding) * -1 + 3px);
  position: relative;
  top: var(--offset);
  right: var(--offset);
  align-self: start;
  grid-row: 1;
  grid-column: 2;
  display: flex;
  align-items: center;
  margin-inline-start: auto;
  gap: var(--size-1);
  padding: 2px var(--size-2);
  font-weight: var(--font-weight-6);
  color: var(--text-success);
  background-color: var(--surface-success-1);
  border-radius: var(--radius-1);
}

.codes.empty {
  color: var(--text-warning);
  background-color: var(--surface-warning-1);
}

.codes svg {
  --size: 1em;
  width: var(--size);
  height: var(--size);
}

.actions {
  --inline-wrap-gap: var(--size-2);
  padding: var(--inline-wrap-gap);
  border-block-start: var(--border);
}
