.badge {
  font-size: var(--font-size--1);
  font-weight: var(--font-weight-6);
  letter-spacing: -0.025em;
  color: var(--brand-2-text);
  background-color: var(--brand-2);
  display: inline-block;
  padding: 2px var(--size-2);
  border-radius: var(--radius-1);
}

.container {
  padding: var(--size-3);
  border-radius: var(--radius-conditional-2);
  border: var(--border-size-1) solid var(--surface-3);
  background-color: var(--surface-2);
  box-shadow: var(--shadow-3);
}

.container[data-variant="empty"] {
  text-align: center;
  border-style: dashed;
  background-color: transparent;
  box-shadow: unset;
}

.input-screen {
  display: grid;
  place-items: center;
  min-height: 80vh;
  padding-block: var(--size-8);
}

.article-heading {
  --cluster-gap: var(--size-2);
  justify-content: space-between;
  align-items: baseline;
}
