.grid {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(var(--grid-min-inline-size, 400px), 100%), 1fr)
  );
  gap: var(--grid-gap, var(--size-3));
}

.pancake-stack {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.stack > * + * {
  margin-block-start: var(--stack-space, var(--size-4));
}

.inline-max {
  inline-size: min(
    var(--max-inline-size, var(--page-max-inline-size)),
    100% - var(--page-padding) * 2
  );
  margin-inline: auto;
}

.inline-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  gap: var(--inline-wrap-gap, var(--size-4));
  align-items: flex-start;
}
