.grid {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(var(--grid-min-inline-size, 400px), 100%), 1fr)
  );
  gap: var(--grid-gap, var(--size-3));
}

.pancake-stack {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.stack > * + * {
  margin-block-start: var(--stack-space, var(--size-4));
}

.inline-max {
  inline-size: min(
    var(--max-inline-size, var(--page-max-inline-size)),
    100% - var(--page-padding) * 2
  );
  margin-inline: auto;
}

.intrinsic-center {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  gap: var(--cluster-gap, var(--size-4));
  align-items: var(--cluster-align, initial);
  justify-content: var(--cluster-justify, initial);
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--flex-grid-gap, var(--size-2));
}

.flex-grid > * {
  flex: 1 1 var(--flex-grid-min, 10rem);
}

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sidebar-gap, var(--size-4));
}

.with-sidebar > :first-child {
  flex-grow: 1;
}

.with-sidebar > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 60%;
}
