.pancake-stack {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.max-inline {
  inline-size: min(var(--max-inline-size, var(--page-max-inline-size)), 100%);
  margin-inline: auto;
}

.stack > * + * {
  margin-block-start: var(--stack-space, var(--size-4));
}

.block-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-basis: var(--size-content-2);
  gap: var(--block-wrap-gap, var(--size-4));
  align-items: flex-start;
}

.container {
  padding: var(--size-4);
  border-radius: var(--radius-conditional-2);
  border: var(--border-size-1) solid var(--surface-3);
  background-color: var(--surface-2);
  box-shadow: var(--shadow-3);
}

.input-screen {
  display: grid;
  place-content: center;
  min-height: 80vh;
  padding-block: var(--size-8);
}
