.label {
  display: inline-block;
}

.input {
  display: block;
  padding: var(--size-2);
  inline-size: 100%;
  border: var(--border-size-1) solid var(--surface-4);
  border-radius: var(--radius-1);
  box-shadow: var(--shadow-1);
}

.select {
  appearance: none;
  background-image: linear-gradient(
      45deg,
      transparent 50%,
      var(--input-icon-color) 50%
    ),
    linear-gradient(135deg, var(--input-icon-color) 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
}

.label + .input {
  --stack-space: var(--size-1);
}

.button {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  padding: var(--size-2) var(--size-3);
  border-radius: var(--radius-1);
  box-shadow: var(--shadow-1);
}

.button svg {
  flex-shrink: 0;
  position: relative;
  top: 0.1em;
  inline-size: var(--button-icon-size, 1.25em);
  block-size: var(--button-icon-size, 1.25em);
  margin-inline-start: calc(var(--size-1) * -1);
  margin-inline-end: var(--size-2);
}

.button:not(:disabled) {
  color: var(--button-text-color, inherit);
  background-color: var(--button-bg-color, transparent);
  border-color: var(--button-border-color, currentcolor);
}

.button:not(:disabled):active {
  top: 1px;
}

.button[data-variant="primary"] {
  --button-bg-color: var(--brand);
  --button-border-color: var(--brand);
  --button-text-color: var(--brand-text);
}

.button[data-variant="primary"]:hover {
  --button-bg-color: var(--brand-hover);
  --button-border-color: var(--brand-hover);
}

.button[data-variant="dashed"] {
  border-style: dashed;
}

.button-actions {
  justify-content: space-between;
}
