@import "open-props/postcss/style";
@import "reset";
@import "variables";
@import "composition";
@import "utilities";
@import "forms";

body {
  color: var(--text-1);
  background-color: var(--surface-1);
  font-family: var(--font-sans);
  line-height: 1.4;
}
