@import "open-props/postcss/style";
@import "reset";
@import "variables";
@import "composition";
@import "utilities";
@import "blocks";
@import "forms";

body {
  color: var(--text-1);
  background-color: var(--surface-1);
  font-family: var(--font-sans);
  line-height: 1.4;
}

#__next {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: var(--size-3);
}
