.block-overflow {
  height: 100%;
  overflow-y: auto;
}

.block-resize {
  resize: vertical;
}

.visually-hidden {
  display: none;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line-clamp, 2);
}
