@define-mixin light-theme {
  color-scheme: light;

  --brand-1: var(--blue-6);
  --brand-1-hover: var(--blue-7);
  --brand-1-text: var(--gray-0);
  --brand-2: var(--stone-3);
  --brand-2-hover: var(--stone-4);
  --brand-2-text: var(--gray-9);

  --text-1: var(--gray-8);
  --text-2: var(--gray-6);
  --text-inverse-1: var(--gray-1);
  --text-inverse-2: var(--gray-2);
  --text-hover-1: var(--gray-12);
  --link: var(--blue-8);
  --link-hover: var(--blue-6);

  --surface-1: var(--gray-0);
  --surface-2: var(--gray-1);
  --surface-3: var(--gray-4);
  --surface-4: var(--gray-5);

  --surface-disabled-1: var(--surface-3);
  --surface-disabled-2: var(--surface-4);
  --surface-success-1: var(--green-1);
  --surface-success-2: var(--green-2);
  --surface-warning-1: var(--red-2);
  --surface-warning-2: var(--red-3);
  --text-disabled: var(--text-2);
  --text-success: var(--green-9);
  --text-warning: var(--red-9);

  --input-icon-color: var(--gray-5);
  --input-screen-max-inline-size: 450px;

  --page-max-inline-size: 1000px;
  --page-padding: clamp(var(--size-2), 8vw, var(--size-3));
}

@define-mixin dark-theme {
  color-scheme: dark;

  --brand-1: var(--blue-9);
  --brand-1-hover: var(--blue-8);
  --brand-1-text: var(--blue-1);
  --brand-2: var(--stone-9);
  --brand-2-hover: var(--stone-8);
  --brand-2-text: var(--stone-1);

  --text-1: var(--gray-4);
  --text-2: var(--gray-6);
  --text-inverse-1: var(--gray-7);
  --text-inverse-2: var(--gray-8);
  --text-hover-1: var(--gray-3);
  --link: var(--blue-6);
  --link-hover: var(--blue-4);

  --surface-1: var(--gray-10);
  --surface-2: var(--gray-9);
  --surface-3: var(--gray-8);
  --surface-4: var(--gray-7);

  --surface-success-1: var(--green-10);
  --surface-success-2: var(--green-8);
  --surface-warning-1: var(--red-10);
  --surface-warning-2: var(--red-8);
  --text-disabled: var(--gray-7);
  --text-success: var(--green-1);
  --text-warning: var(--red-1);

  --input-icon-color: var(--gray-6);
}

:where(html) {
  @mixin light-theme;

  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1400,18,1.414,5,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --font-size--1: clamp(0.8rem, calc(0.84rem + -0.06vw), 0.83rem);
  --font-size-0: clamp(1rem, calc(0.96rem + 0.19vw), 1.13rem);
  --font-size-1: clamp(1.2rem, calc(1.08rem + 0.58vw), 1.59rem);
  --font-size-2: clamp(1.44rem, calc(1.2rem + 1.2vw), 2.25rem);
  --font-size-3: clamp(1.73rem, calc(1.3rem + 2.15vw), 3.18rem);
  --font-size-4: clamp(2.07rem, calc(1.36rem + 3.59vw), 4.5rem);
  --font-size-5: clamp(2.49rem, calc(1.34rem + 5.74vw), 6.36rem);
}

[data-theme="dark"] {
  @mixin dark-theme;
}

@media (prefers-color-scheme: dark) {
  :where(html) {
    @mixin dark-theme;
  }
  [data-theme="light"] {
    @mixin light-theme;
  }
}
